<robot name="uf850">
    <link name="base_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="package://uf850_description/meshes/link_base.stl" scale="1 1 1"/>
            </geometry>
            <material name="base_color">
                <color rgba="0. 0.6 0.6 1"/>
            </material>
        </visual>
    </link>

    <link name="link1">
        <visual>
            <origin xyz="0.0 0.0 0.362" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="package://uf850_description/meshes/link1.stl" scale="1 1 1"/>
            </geometry>
            <material name="base_color">
                <color rgba="0. 0.6 0.6 1"/>
            </material>
        </visual>
    </link>

    <joint name="base_link_to_link1" type="fixed">
        <parent link="base_link"/>
        <child link="link1"/>
    </joint>

    <link name="link2">
        <visual>
            <!-- <origin xyz="0.0 0.0 0.4" rpy="0.0 0.0 0.0"/> -->
            <geometry>
                <mesh filename="package://uf850_description/meshes/link2.stl" scale="1 1 1"/>
            </geometry>
            <material name="base_color">
                <color rgba="0. 0.6 0.6 1"/>
            </material>
        </visual>
    </link>

    <joint name="link1_to_link2" type="fixed">
        <origin xyz="0.0 0.0 0.36" rpy="1.6 4.69 0.0"/>
        <parent link="link1"/>
        <child link="link2"/>
    </joint>

    <link name="link3">
        <visual>
            <!-- <origin xyz="0.0 0.0 0.4" rpy="0.0 0.0 0.0"/> -->
            <geometry>
                <mesh filename="package://uf850_description/meshes/link3.stl" scale="1 1 1"/>
            </geometry>
            <material name="base_color">
                <color rgba="0. 0.6 0.6 1"/>
            </material>
        </visual>
    </link>

    <joint name="base-link_to_link3" type="fixed">
        <origin xyz="-0.01 0.0 0.75" rpy="-1.576 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="link3"/>
    </joint>

    <link name="link4">
        <visual>
            <origin xyz="0.145 0.0 0.33" rpy="0.0 3.13 0.0"/>
            <geometry>
                <mesh filename="package://uf850_description/meshes/link4.stl" scale="1 1 1"/>
            </geometry>
            <material name="base_color">
                <color rgba="0. 0.6 0.6 1"/>
            </material>
        </visual>
    </link>

    <joint name="base_link_to_link4" type="fixed">
        <!-- <origin xyz="-0.01 0.0 0.75" rpy="-1.576 0.0 0.0"/> -->
        <parent link="base_link"/>
        <child link="link4"/>
    </joint>

    <link name="link5">
        <visual>
            <origin xyz="0.155 -0.01 0.33" rpy="1.51 0.0 3.1"/>
            <geometry>
                <mesh filename="package://uf850_description/meshes/link5.stl" scale="1 1 1"/>
            </geometry>
            <material name="base_color">
                <color rgba="0. 0.6 0.6 1"/>
            </material>
        </visual>
    </link>

    <joint name="base_link_to_link5" type="fixed">
        <!-- <origin xyz="-0.01 0.0 0.75" rpy="-1.576 0.0 0.0"/> -->
        <parent link="base_link"/>
        <child link="link5"/>
    </joint>

    <link name="link6">
        <visual>
            <origin xyz="0.155 -0.01 0.245" rpy="3.15 0 0"/>
            <geometry>
                <mesh filename="package://uf850_description/meshes/link6.stl" scale="1 1 1"/>
            </geometry>
            <material name="base_color">
                <color rgba="0. 0.6 0.6 1"/>
            </material>
        </visual>
    </link>

    <joint name="base_link_to_link6" type="fixed">
        <!-- <origin xyz="-0.01 0.0 0.75" rpy="-1.576 0.0 0.0"/> -->
        <parent link="base_link"/>
        <child link="link6"/>
    </joint>

</robot>